
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

	0. 	CSS Reset
	1. 	Body
	2. 	Circle
	3.	Noise
	4. 	Controls

------------------------------------------------------------- */

/*--------------------------------------------------------------
=	0. CSS Reset
------------------------------------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    line-height: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
input,
select {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
}

/*--------------------------------------------------------------
=	1. Body
------------------------------------------------------------- */

html, body {
	height: 100%;
    overflow: hidden;
	width: 100%;
} 

body {
	background-color: #ff0000;
	-webkit-animation: body 120s infinite;
	        animation: body 120s infinite;
}

@-webkit-keyframes body {
	0%   { background-color: #ff0000; } /* Red */
	15%  { background-color: #ff6600; } /* Orange */
	30%  { background-color: #ffff00; } /* Yellow */
	45%  { background-color: #33cc33; } /* Green */
	60%  { background-color: #0000ff; } /* Blue */
	75%  { background-color: #6600cc; } /* Purple */
	90%  { background-color: #cc00cc; } /* Pink */
	100% { background-color: #ff0000; } /* Red */
	
}

@keyframes body {
	0%   { background-color: #ff0000; } /* Red */
	15%  { background-color: #ff6600; } /* Orange */
	30%  { background-color: #ffff00; } /* Yellow */
	45%  { background-color: #33cc33; } /* Green */
	60%  { background-color: #0000ff; } /* Blue */
	75%  { background-color: #6600cc; } /* Purple */
	90%  { background-color: #cc00cc; } /* Pink */
	100% { background-color: #ff0000; } /* Red */
}

/*--------------------------------------------------------------
=	2. Circle
------------------------------------------------------------- */	

#circle {
	-webkit-animation: circleSmall 120s infinite;
	        animation: circleSmall 120s infinite;
	border-radius: 50%;
	box-shadow: 0px 0px 32px 16px #33cc33;
	height:0;
	margin: 0 auto;
	max-width: 600px;
	padding-bottom: 50%;
	position: relative;
		top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 50%;
}

@media all and (min-width: 768px) {
	#circle {
		-webkit-animation: circleLarge 120s infinite;
	            animation: circleLarge 120s infinite;
		box-shadow: 0px 0px 64px 32px #33cc33;
	}
}

@media all and (min-width: 1200px) {
	#circle {
		padding-bottom: 0;
		height: 600px;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#circle {
		-webkit-animation: circleIE 120s infinite;
	            animation: circleIE 120s infinite;
		box-shadow: 0px 0px 96px 32px #33cc33;
	}
}

@-webkit-keyframes circleSmall {
	0%   { box-shadow: 0px 0px 32px 16px #33cc33; } /* Green */
	15%  { box-shadow: 0px 0px 32px 16px #0000ff; } /* Blue */
	30%  { box-shadow: 0px 0px 32px 16px #6600cc; } /* Purple */
	45%  { box-shadow: 0px 0px 32px 16px #cc00cc; } /* Pink */
	60%  { box-shadow: 0px 0px 32px 16px #ff0000; } /* Red */
	75%  { box-shadow: 0px 0px 32px 16px #ff6600; } /* Orange */
	90%  { box-shadow: 0px 0px 32px 16px #ffff00; } /* Yellow */
	100% { box-shadow: 0px 0px 32px 16px #33cc33; } /* Green */
}

@keyframes circleSmall {
	0%   { box-shadow: 0px 0px 32px 16px #33cc33; } /* Green */
	15%  { box-shadow: 0px 0px 32px 16px #0000ff; } /* Blue */
	30%  { box-shadow: 0px 0px 32px 16px #6600cc; } /* Purple */
	45%  { box-shadow: 0px 0px 32px 16px #cc00cc; } /* Pink */
	60%  { box-shadow: 0px 0px 32px 16px #ff0000; } /* Red */
	75%  { box-shadow: 0px 0px 32px 16px #ff6600; } /* Orange */
	90%  { box-shadow: 0px 0px 32px 16px #ffff00; } /* Yellow */
	100% { box-shadow: 0px 0px 32px 16px #33cc33; } /* Green */
}

@-webkit-keyframes circleLarge {
	0%   { box-shadow: 0px 0px 64px 32px #33cc33; } /* Green */
	15%  { box-shadow: 0px 0px 64px 32px #0000ff; } /* Blue */
	30%  { box-shadow: 0px 0px 64px 32px #6600cc; } /* Purple */
	45%  { box-shadow: 0px 0px 64px 32px #cc00cc; } /* Pink */
	60%  { box-shadow: 0px 0px 64px 32px #ff0000; } /* Red */
	75%  { box-shadow: 0px 0px 64px 32px #ff6600; } /* Orange */
	90%  { box-shadow: 0px 0px 64px 32px #ffff00; } /* Yellow */
	100% { box-shadow: 0px 0px 64px 32px #33cc33; } /* Green */
}

@keyframes circleLarge {
	0%   { box-shadow: 0px 0px 64px 32px #33cc33; } /* Green */
	15%  { box-shadow: 0px 0px 64px 32px #0000ff; } /* Blue */
	30%  { box-shadow: 0px 0px 64px 32px #6600cc; } /* Purple */
	45%  { box-shadow: 0px 0px 64px 32px #cc00cc; } /* Pink */
	60%  { box-shadow: 0px 0px 64px 32px #ff0000; } /* Red */
	75%  { box-shadow: 0px 0px 64px 32px #ff6600; } /* Orange */
	90%  { box-shadow: 0px 0px 64px 32px #ffff00; } /* Yellow */
	100% { box-shadow: 0px 0px 64px 32px #33cc33; } /* Green */
}

@keyframes circleIE {
	0%   { box-shadow: 0px 0px 96px 32px #33cc33; } /* Green */
	15%  { box-shadow: 0px 0px 96px 32px #0000ff; } /* Blue */
	30%  { box-shadow: 0px 0px 96px 32px #6600cc; } /* Purple */
	45%  { box-shadow: 0px 0px 96px 32px #cc00cc; } /* Pink */
	60%  { box-shadow: 0px 0px 96px 32px #ff0000; } /* Red */
	75%  { box-shadow: 0px 0px 96px 32px #ff6600; } /* Orange */
	90%  { box-shadow: 0px 0px 96px 32px #ffff00; } /* Yellow */
	100% { box-shadow: 0px 0px 96px 32px #33cc33; } /* Green */
}

/*--------------------------------------------------------------
=	3. Noise
------------------------------------------------------------- */

#noise {
	background-image: url('assets/noise.svg');
	background-position: center center;
	height: 100vh;
	opacity: 0.20;
	position: absolute;
		top: 0;
		left: 0;
	width: 100vw;
}	

/*--------------------------------------------------------------
=	4. Controls
------------------------------------------------------------- */

#controls {
	position: absolute;
		top: calc(100% - 50px);
		left: calc(50% - 15px);
}

.button {
	-webkit-animation: button 120s infinite;
	        animation: button 120s infinite;
	border: 0;
	border-color: transparent transparent transparent #202020;
	border-style: solid;
	border-width: 15px 0 15px 25px;
	background: transparent;
	box-sizing: border-box;
	cursor: pointer;
	height: 30px;
	transition: 300ms all ease;
	padding: 0;
	width: 30px;
}

.button:hover,
.button:focus,
.button:active {
    opacity: 0.5;
}

.button.paused {
	opacity: 0;
}

.button.paused:hover {
    opacity: 0.5;
}

@-webkit-keyframes button {
	0%   { border-color: transparent transparent transparent #33cc33; } /* Green */
	15%  { border-color: transparent transparent transparent #0000ff; } /* Blue */
	30%  { border-color: transparent transparent transparent #6600cc; } /* Purple */
	45%  { border-color: transparent transparent transparent #cc00cc; } /* Pink */
	60%  { border-color: transparent transparent transparent #ff0000; } /* Red */
	75%  { border-color: transparent transparent transparent #ff6600; } /* Orange */
	90%  { border-color: transparent transparent transparent #ffff00; } /* Yellow */
	100% { border-color: transparent transparent transparent #33cc33; } /* Green */
}
@keyframes button {
	0%   { border-color: transparent transparent transparent #33cc33; } /* Green */
	15%  { border-color: transparent transparent transparent #0000ff; } /* Blue */
	30%  { border-color: transparent transparent transparent #6600cc; } /* Purple */
	45%  { border-color: transparent transparent transparent #cc00cc; } /* Pink */
	60%  { border-color: transparent transparent transparent #ff0000; } /* Red */
	75%  { border-color: transparent transparent transparent #ff6600; } /* Orange */
	90%  { border-color: transparent transparent transparent #ffff00; } /* Yellow */
	100% { border-color: transparent transparent transparent #33cc33; } /* Green */
}
